{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Minecraft User Forum</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
        
    </head>
    <body>
        <main id="index-main">
            <div class="login-bg">
                <h1 class="login-title">パスワードリセット</h1>
                <div class="passreset-space">
                    <p class="login-text">ID/名前/eメール</p>
                    <div class="login-input">
                        <input class="input-text" type="text" name="example1">
                    </div>
                </div>
                <div>
                    <a href="index.html" class="button login-button" id="cr-button-left">戻る</a>
                    <a href="index.html" class="button login-button" id="cr-button-right">アカウント作成</a>
                </div>
                
                
            </div>
        </main>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <!-- js -->
        <script type="text/javascript" src="../static/js/common.js"></script>
    </body>
</html>